@import "variables";

.bg-primary { background-color: $primary !important }
.bg-secondary { background-color: $secondary !important }
.bg-primary-desat { background-color: $primary-desat !important }
.bg-success { background-color: $success !important }
.bg-info { background-color: $info !important }
.bg-warning { background-color: $warning !important }
.bg-danger { background-color: $danger !important }

.bg-white { background-color: $white !important }
.bg-black { background-color: $black !important }
.bg-gray-100 { background-color: $gray-100 !important }
.bg-gray-200 { background-color: $gray-200 !important }
.bg-gray-300 { background-color: $gray-300 !important }
.bg-gray-400 { background-color: $gray-400 !important }
.bg-gray-500 { background-color: $gray-500 !important }
.bg-gray-600 { background-color: $gray-600 !important }
.bg-gray-700 { background-color: $gray-700 !important }
.bg-gray-800 { background-color: $gray-800 !important }
.bg-gray-900 { background-color: $gray-900 !important }

.text-primary { color: $primary !important }
.text-secondary { color: $secondary !important }
.text-primary-desat { color: $primary-desat !important }
.text-success { color: $success !important }
.text-info { color: $info !important }
.text-warning { color: $warning !important }
.text-danger { color: $danger !important }

.text-white { color: $white !important }
.text-black { color: $black !important }
.text-gray-100 { color: $gray-100 !important }
.text-gray-200 { color: $gray-200 !important }
.text-gray-300 { color: $gray-300 !important }
.text-gray-400 { color: $gray-400 !important }
.text-gray-500 { color: $gray-500 !important }
.text-gray-600 { color: $gray-600 !important }
.text-gray-700 { color: $gray-700 !important }
.text-gray-800 { color: $gray-800 !important }
.text-gray-900 { color: $gray-900 !important }

.font-w300 { font-weight: 300 !important; }
.font-w400 { font-weight: 400 !important; }
.font-w500 { font-weight: 500 !important; }
.font-w700 { font-weight: 700 !important; }
.font-w900 { font-weight: 900 !important; }

.font-sm { font-size: 14px !important; }
.font-md { font-size: 16px !important; }
.font-lg { font-size: 19px !important; }
.font-xl { font-size: 25px !important; }

.fill-transparent { fill: transparent !important; }
.fill-primary { fill: $primary !important; }
.fill-secondary { fill: $secondary !important; }
.fill-primary-desat { fill: $primary-desat !important; }
.fill-success { fill: $success !important; }
.fill-info { fill: $info !important; }
.fill-warning { fill: $warning !important; }
.fill-danger { fill: $danger !important; }
.fill-light { fill: $light !important; }
.fill-dark { fill: $dark !important; }

// Scroll

::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// Global

* {
    font-family: "HKGrotesk Pro", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    font-feature-settings: 'pnum' on, 'salt' on, 'case' on, 'kern' off;
}
body {
    background-color: $gray-300 !important;
}

a {
    text-decoration: none !important;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

// home image
.home-image {
    background-image: url("./img/Washington.jpg");
    background-size: cover;
    height: 57.5vh; 
    width: 100%
}

// margins
.container-zdc {
    margin-left: 15% !important;
    margin-right: 15% !important;
}

.page-margins {
    margin-top: 5%;
}

// Nav

.nav {
    background-color: $gray-800;
}

.nav-transparent {
    background-color: transparent !important;
}

#navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: $white !important;
    transition: 300ms;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    margin-left: 1rem;
    margin-right: 1rem;
    color: $white !important;
}

.navbar-dark .navbar-brand img {
    filter: brightness(0) invert(1);
}

.navbar .dropdown-menu .dropdown-item {
    padding: 0.5rem !important;
    font-weight: 600 !important;
}

// Cards

.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .card-header {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: $gray-400;
        background-color: $light;
    }    
}

// Staff
.top {
    min-height: 40px;
}
